### python basics

In [2]:
1+2

3

In [3]:
4%2

0

In [4]:
4/2

2.0

In [5]:
5//2

2

In [6]:
5/2

2.5

In [7]:
5+3*2 #BODMAS Bracket off Division, Multiplication, Addition, Subtraction

11

In [8]:
type(2)

int

In [9]:
type('k')

str

In [10]:
type("k")

str

In [11]:
type("Bhushan know how to do the hard work ")

str

In [12]:
True

True

In [13]:
True or False #addition , bitwise operator

True

In [14]:
True | False #logical operator

True

In [15]:
type(True or False)

bool

In [16]:
a=10 
b=20
a+b >20 or b-a<10

True

### strings

In [17]:
type("Bhushan is very smart")

str

In [18]:
str(1)# type casting

'1'

In [19]:
str1="Bhushan is very smart "
str2="Bhushan is very good "
print(str2)

Bhushan is very good

In [20]:
a=20 #simply integer value 
a

20

In [21]:
print(a)# console output : in console output , output is printed like string.

20

In [23]:
str1+' '+str2

'Bhushan is very smart  Bhushan is very good '

In [24]:
name=input("Enter your name : ")
print (name)

Enter your name : Bhushan
Bhushan

In [25]:
a=input("Enter number 1 : ")
b=input("Enter number 2 : ")
c=a+b
print("The output is",c) # input taken as string

Enter number 1 : 2
Enter number 2 : 2
The output is 22

In [26]:
a=float(input("Enter number 1 : ")) #type casting 
b=float(input("Enter number 2 : "))
c=a+b
print("The output is",c)

Enter number 1 : 2
Enter number 2 : 2
The output is 4.0

In [34]:
first_name=input("What is your First name : ")
last_name=input("What is your Last name : ")
print("Welcome to Bhushan world",first_name,last_name)
print("MY first name is {} and last name is {}".format(first_name,last_name))
print("MY first name is {one} and last name is {last}".format(one=first_name,last=last_name))

What is your First name : Bhushan_Shonu
What is your Last name : Jagrati_Mahajan
Welcome to Bhushan world Bhushan_Shonu Jagrati_Mahajan
MY first name is Bhushan_Shonu and last name is Jagrati_Mahajan
MY first name is Bhushan_Shonu and last name is Jagrati_Mahajan

### variable dynamic programming

In [4]:
### stromg typimg 
print(" Krish " + str(1))
1 + int("2")

 Krish 1

3

In [8]:
### conditoinal statement 
a=int(input(" Enter the number 1 "))
b=int(input("Enter the number 2 "))
c=a-b
if c<0:
      print(" The number is negative ")
elif c>40:
      print(" The number is huge")
else :
      print(" The number is positive")

 Enter the number 1 32
Enter the number 2 43
 The number is negative

### Data Structures

In [10]:
lst=[1,2,3,"Bhushan","Mahajan"]

In [11]:
type(lst)

list

In [12]:
lst[3]

'Bhushan'

In [13]:
lst.append("Shonu")

In [14]:
lst

[1, 2, 3, 'Bhushan', 'Mahajan', 'Shonu']

In [15]:
lst[2]="Data Science"
print(lst)

[1, 2, 'Data Science', 'Bhushan', 'Mahajan', 'Shonu']

In [19]:
lst.append("shonu")
lst.append("shonu")
lst

[1,
 2,
 'Data Science',
 'Bhushan',
 'Mahajan',
 'Shonu',
 'shonu',
 'shonu',
 'shonu',
 'shonu',
 'shonu',
 'shonu']

In [20]:
lst.count("shonu")

6

In [22]:
### indexing 
### immutable 
str1 = "Krish"
str1[3]

's'